{
  "extends": "airbnb-base",
  "plugins": ["vue"],
  "globals": {
    "window": true,
    "fetch": true,
    "FormData": true,
    "document": true,
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "expect": true,
    "jest": true,
    "afterEach": true,
    "ZOHO": true,
    "File": true,
    "beforeAll": true,
    "beforeEach": true
  },
  "rules": {
    "comma-dangle": "off",
    "no-new": "off",
    "operator-assignment": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "consistent-return": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "one-var": "off",
    "no-mixed-operators": "off",
    "no-prototype-builtins": "off"
  }
}