.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
  }

  &__item {}

  &__link {
    position: relative;
    display: flex;
    width: 133px;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #666;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;

    &_active {
      background: white;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid #ff9009;
      }
    }
  }
}