.zoho-fields {
  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.zoho-field {
  display: flex;
  padding: 7px;
  border-bottom: 1px solid #ddd;

  &_title {
    font-size: 16px;
    font-weight: bold;
  }

  &__name {
    width: 30%;
  }

  &__value {
    width: 70%;
  }
}