.documents {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;

  &-page {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
  }

  &-table {}

  &-list {
    min-height: 370px;
  }

  &-aside {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    padding: 15px 15px;
    font-size: 15px;
    background: #fafafa;
    font-weight: bold;
  }
}